/**
 * Place your custom CSS styles here.
 **/

#info-container {
  position: fixed;
  bottom: 2%;
  right: -20%;
  width: 400px;
  height: 325px;
  opacity: 0.6;
  padding: 17px;
  background-color: #2b303b;
  word-wrap: break-word;
  z-index: 600;
  line-height: 20px;
  overflow: hidden;
  border-radius: 3%;
  font-family: Arial;
  color: white;
  font-size: 12px;
}

#info-box {
  margin: auto;
  background-color: #2b303b;
  width: 385px;
  height: 250px;
  z-index: 500;
  word-wrap: break-word;
  overflow: auto
}

.extension-btn {
  background-color: #2b303b;
  position: fixed;
  right: 1.5%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 500;
  color: white;
  font-size: 12px
}

#extension-exit-btn {
  bottom: 2%
}

#extension-hide-btn {
  bottom: 10%
}

#source-selector {
  background: transparent;
  overflow: hidden;
  border-radius: 5%;
  border: none;
  font-size: 12px;
  height: 26px;
  padding: 5px;
  width: 175px;
  background-color: #2b303b;
  color: white;
  font-family: Arial
}

.extension-title {
  color: #d68e13
}

.extension-indent {
  padding: 0px 15px
}


/* code theme styles  */
/*
if (extensionTheme === 'code') {
			$container = $(`<div id="info-container"><div id="search-term"><span class='let-dec'>let</span> <span class="var-dec">searchTerm</span> = <span class="string-var">'${selectedText}'</span></div></div>`)
			$container.css({
			position: 'fixed',
			bottom: '2%',
			right: '-20%',
			width: '400px',
			height: '325px',
			opacity: '0.6',
			padding: '17px',
			'background-color': '#2b303b',
			'word-wrap': 'break-word',
			'z-index': '600',
	  	'line-height': '20px',
			overflow: 'hidden',
			'border-radius': '3%',
			'font-family': 'Inconsolata, Monaco, Consolas, "Courier New", Courier',
			color: 'white',
			'font-size': '12px'
			})
		} else {



      if (extensionTheme === 'code') {
			$('#search-term').html(`<div><span class='let-dec'>let</span> <span class="var-dec">searchTerm</span> = <span class="string-var">'${selectedText}'</span></div>`)
    }


    $('#source-selector').css({
				background: 'transparent',
				overflow: 'hidden',
				'border-radius': '5%',
				border: 'none',
				'font-size': '12px',
				height: '26px',
				padding: '5px',
				width: '175px',
				'background-color': '#2b303b',
				color: '#d68e13',
				'font-family': 'Inconsolata, Monaco, Consolas, "Courier New", Courier'
      })


      if (extensionTheme === 'code') {
			$('#info-container').append('<div><br><span class="function-call">crackin</span>(<span class="parameter">searchTerm</span>)<br>> Array</div>')
		} else {


      if (extensionTheme === 'code') {
			$infoBox = $('<div id="info-box"></div>')
			$infoBox.css({
				margin: 'auto',
				'background-color': '#2b303b',
				width: '385px',
				height: '200px',
				'z-index': '500',
				'word-wrap': 'break-word',
				overflow: 'auto'
      })


      if (extensionTheme === 'code') {
		$('.let-dec').css({
			color: '#1453ba'
		})
		$('.var-dec').css({
			color: '#77d8ff'
		})
		$('.string-var').css({
			color: '#d68e13',
			'padding': '0px 20px'
		})
		$('.function-call').css({
			color: '#f8f99d'
		})
		$('.parameter').css({
			color: '#77d8ff'
		})
		$('.ext-colon').css({
			color: 'white'
		})
	}
    */
